@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color-0: #000009;
    --color-1: #064789;
    --color-2: #427AA1;
    --color-3: #EBF2FA;
    --color-4: #D81159;
    --color-5: #8F2D56;
}

.study{
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.link{
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    text-shadow: .1rem .1rem 1rem #000;
    letter-spacing: .2rem;
    transition: color .5s;
}

.link:hover{
    color: aqua;
}

.section-1{
    background-color: var(--color-1);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-1-heading{
    color: var(--color-3);
    font-size: 8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1rem;
    text-shadow: .2rem .2rem 1rem var(--color-0);
}

.time-interval{
    background: var(--color-3);
    width: 40%;
    height: 35rem;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: .1rem .1rem 1rem var(--color-0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: box-shadow .5s;
}

.time-interval:hover{
    box-shadow: .2rem .2rem 2rem var(--color-0);
}

.interval{
    outline: none;
    border: .2rem solid var(--color-5);
    padding: .5rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:var(--color-0);
}

.interval::placeholder{
    font-size: 2rem;
    color:var(--color-0);
}

.start-btn{
    border: none;
    padding: .5rem;
    height: 5rem;
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1rem;
    background-color: var(--color-5);
    color: var(--color-3);
    cursor: pointer;
    transition: .5s;
}

.start-btn:hover{
    background-color: var(--color-4);
}

.modal{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
}

.change{
    opacity: 1;
    visibility: visible;
}

.reference-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.reference-img{
    width: 52rem;
    height: 70rem;
    object-fit: cover;
}

img.flip{
    transform: rotateY(180deg);
}

.rotate-btn.flip{
    background-color: var(--color-4);
}

.buttons{
    margin-top: 2rem;
}

.btn{
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    font-size: 2.2rem;
    font-weight: 400;
    background-color: var(--color-5);
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--color-3);
    letter-spacing: .1rem;
    transition: background-color .5s;
}

.btn:hover{
    background-color: var(--color-4);
}

.stop-btn,
.skip-btn{
    width: 12rem;
    position: absolute;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    top: 2rem;
}

.stop-btn{
    right: 2rem;
}

.skip-btn{
    right: 16rem;
}

.time{
    font-size: 2.5rem;
    color: var(--color-3);
    padding: 0 3rem;
    letter-spacing: .5rem;
    font-weight: 600;
}

/* Responsive*/
@media (max-width: 1500px){
    .section-1-heading{
        font-size: 6rem;
    }

    .time-interval{
        width: 45%;
        height: 30rem;
    }

    .reference-img {
        width: 35rem;
        height: 50rem;
    }

    .btn {
        height: 4rem;
        width: 4rem;
        padding: 1rem;
        font-size: 2rem;
    }
    
    .stop-btn,
    .skip-btn {
        width: 10rem;
        font-size: 2rem;
        top: 2rem;
    }
    
    .stop-btn {
        right: 2rem;
    }
    
    .skip-btn {
        right: 14rem;
    }
    
    .time {
        font-size: 2.2rem;
        padding: 0 3rem;
    }
}

@media (max-width: 1200px){
    .section-1-heading {
        font-size: 5rem;
    }
    
    .time-interval {
        width: 55%;
        height: 25rem;
    }

    .reference-img {
        width: 30rem;
        height: 45rem;
        object-fit: contain;
    }

    .btn {
        height: 3rem;
        width: 3rem;
        padding: .5rem;
        font-size: 1.5rem;
    }
    
    .stop-btn,
    .skip-btn {
        width: 8rem;
        font-size: 1.5rem;
        top: 1rem;
    }
    
    .stop-btn {
        right: 2rem;
    }
    
    .skip-btn {
        right: 12rem;
    }
    
    .time {
        font-size: 2rem;
        padding: 0 2rem;
    }
}

@media (max-width: 800px){
    .section-1-heading {
        font-size: 4rem;
    }

    .time-interval {
        width: 70%;
    }

    .interval {
        padding: .5rem;
        font-size: 1.8rem;
    }

    .start-btn {
        padding: .5rem;
        height: 3.5rem;
        font-size: 1.5rem;
    }
}

@media (max-width: 600px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 500px) {
    html{
        font-size: 50%;
    }
} 

@media (max-width: 450px){
    html{
        font-size: 45%;
    }

    .section-1-heading {
        font-size: 3rem;
    }
    
    .time-interval {
        width: 80%;
    }
}
/* End of Responsive */
