*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    font-size: 62.5%;
}

.study{
    position: absolute;
    top: 1rem;
    left: 2rem;
}

.link{
    text-decoration: none;
    font-size: 2rem;
    margin-right: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    text-shadow: .1rem .1rem 1rem #000;
    letter-spacing: .2rem;
    transition: color .5s;
}

.link:hover{
    color: aqua;
}

main{
    background-color: cornflowerblue;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    color: #fff;
    font-size: 8rem;
    font-weight: 700;
    padding-top: 4rem;
    letter-spacing: .5rem;
    text-shadow: .2rem .2rem 1rem #000;
    margin-bottom: 10rem;
    text-align: center;
}

.options{
    background: #ddd;
    width: 45rem;
    height: 25rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: .1rem .1rem 1rem #ccc;
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.options:hover{
    transform: translateY(-1rem);
    box-shadow: .2rem .2rem 2rem #ccc;
}

.interval{
    outline: none;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.5rem;
}

.interval::placeholder{
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: #ccc;
}

.start-btn{
    border: none;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .2rem;
    background-color: cornflowerblue;
    color: azure;
    cursor: pointer;
    transition: .5s;
}

.start-btn:hover{
    background-color: skyblue;
}

.modal{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
}

.change{
    opacity: 1;
    visibility: visible;
}

.reference-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.reference-img{
    width: 40rem;
    height: 50rem;
    object-fit: cover;
    /* transition: transform .3s; */
}

img.flip{
    transform: rotateY(180deg);
}

.rotate-btn.flip{
    box-shadow: inset .2rem .2rem 2rem aqua;
}

.buttons{
    margin-top: 2rem;
}

.btn{
    height: 4rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    background-color: cornflowerblue;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    color: #fff;
    letter-spacing: .1rem;
    transition: background-color .5s;
}

.btn:hover{
    background-color: aqua;
}

.stop-btn{
    position: absolute;
    right: 1.5rem;
    top: .5rem;
}

.skip-btn{
    position: absolute;
    top: .5rem;
    right: 9rem;
}

.continue{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.continue.change{
    opacity: 1;
    visibility: visible;
}

.time{
    font-size: 2.5rem;
    color: #fff;
    padding: 0 3rem;
    letter-spacing: .2rem;
}


